@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {

    font-weight: bold;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
    font-weight: bold;
}

img {
    width: 100%;
}

code,
pre {
    background: #333;
    color: #fff;
    padding: 10px;
}

label {
    font-size: medium;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
    height: 0;
}


/* Navbar */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
    transform: scale(1.25,1.25);
}

.navbar .flex {
    justify-content: space-between;
}

.nav-header {
    display: flex;
    justify-content: space-around;
}

/* Showcase */

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
    
   
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% auto;
    gap: 30px;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
    
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}


/* Stats */

.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}


/* Cli */

.cli .grid {
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (2, 1fr);
}

.cli .grid>*:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}


.cli>*:first-child {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
 
  .about-img:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* Cloud */

.cloud .grid {
    grid-template-columns: 4fr 3fr;
}


/* Languages */

.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    text-align: center;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px);
}


/* Feature */

.features-head img,
.docs-head img {
    width: 200px;
}

.features-sub-head img {
    width: 300px;
    justify-self: flex-end;
}

.features-main .card>i {
    margin-right: 10px;
}

.features-main .grid {
    padding: 30px;
}

.features-main .grid>*:first-child {
    grid-column: 1 / span 3;
}

.features-main .grid>*:nth-child(2) {
    grid-column: 1 / span 2;
}

/* Docs */

.docs-main h3 {
    margin: 20px 0;
}

.docs-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
    font-weight: bold;
}


/* Footer */

footer {
    background-color: var(--primary-color);
}

.footer .social a {
    margin: 0 10px;
}

.fa-github:hover {
    color: #000000;
}

.fa-facebook:hover {
    color: #1773EA;
}

.fa-instagram:hover {
    color: #B32E87;
}

.fa-twitter:hover {
    color: #1C9CEA;
}

/* image */
img{
    border-radius: 25%;
    height:80%;

}

.card h3 {
    align-items: center;
}

/* Animations */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}


/* Tablets and under */

@media (max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .showcase {
        height: auto;
    }
    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }
    .showcase-form {
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }
    .cli .grid>*:first-child {
        grid-column: 1;
        grid-row: 1;
    }
    .features-head,
    .features-sub-head,
    .docs-head {
        text-align: center;
    }
    .features-head img,
    .features-sub-head img,
    .docs-head img {
        justify-self: center;
    }
    .features-main .grid>*:first-child,
    .features-main .grid>*:nth-child(2) {
        grid-column: 1;
    }
}


/* Mobile */

@media (max-width: 500px) {
    .navbar {
        height: 110px;
    }
    .navbar .flex {
        flex-direction: column;
    }
    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    .showcase-form {
        width: 300px;
    }
}



/* ID's */
#tow-img {
    height: 100%;
    animation: slideInFromLeft 3s ease-in;
}

#card-img {
    width:50%;
    height: 40vh;
}

#testimonial-img {
    width:100%;
    height: 100%;
}



.about-img {
background-image: url("/images/tyres-propped-up-on-an-auto-repair-shop-2021-08-30-00-05-04-utc.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
height: 90vh;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

}

.about-img> h1 {
    color: white;
}

.about-img> p {
    color:white;
}

.about-bg {
    background-color: rgba(0, 0, 0, 0.3);
}

.info-cards {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly; 
    align-items: center;
}

.info-card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 2%;
}

.info-card1,
.info-card2 {
    height: 350px;
    width: 350px;
}

.info-card:hover {
    transform: scale(1.25,1.25);
    background-color: var(--primary-color);
    text-transform: uppercase;
    font-size: large;
    text-shadow: .5px .5px white;
    box-shadow: 2px 2px 2px 2px grey; 
    margin-top: 2%;
  }

.photo {
    height: 250px;
    width: 250px;
    
}

.photo:hover {
    transform: scale(1.25,1.25);
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px grey;  
    margin-top: 2%;
    margin-bottom: 2%;
}


.grid-area {
    display: grid;
    /* height: 90vh; */
    width: 90%;
    margin-left: 15%;
    margin-bottom: 2%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(12, 1fr );
    grid-template-areas: 
    "a a a a  b b b b  e e e e"
    "a a a a  b b b b  e e e e"
    "c c c c  d d d d  f f f f"
    "c c c c  d d d d  f f f f";

}

.grid-area .card1 {
    grid-area: a;
}
.grid-area .card2 {
    grid-area: b;
}
.grid-area .card3 {
    grid-area: c;
}
.grid-area .card4 {
    grid-area: d;
}
.grid-area .card5 {
    grid-area: e;
}
.grid-area .card6 {
    grid-area: f;
}



.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.2);

}

.contact-item {
    display: flex;
    flex-direction: column;
}
.contact-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% auto;
}


/* Carousel/Nav */

.carousel-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.prev,
.next {
    background-color: rgba(98, 89, 96, 0.8);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /* margin-top: -22px; */
    padding: 16px;
    color: rgba(11, 12, 12, 0.8);
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(199, 209, 209, 0.8);
    color: rgba(19, 18, 18, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.active,
.dot:hover {
    background-color: #717171;
}


.links {
    display: flex;
    justify-content: center;
    margin-bottom: 35%;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.dots {
    text-align: center;
}

.image1 {
    background-image: url('/images/customer_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 1000px;
    width: 100%;
}

.image2 {
    background-image: url('/images/customer_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    width: 100%;
}

.image3 {
    background-image: url('/images/customer_3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
}

.slides:hover {
    background-color: rgba(0, 0, 0, 0.2);
}